html {
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Courgette', sans-serif;
  background: rgb(142,227,239);
  background: radial-gradient(circle, rgba(142,227,239,1) 0%, rgba(40,209,232,1) 35%, rgba(29,185,207,1) 100%);
  color: $primary-color;
  text-align: center;
}

h1 {
  font-family: 'Pacifico', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}
