.c-addItemWrapper {
    padding: 15px;

    input {
        width: 100%;
        border: 0;
        padding: 15px;
        font-size: 1em;
    }

    .c-addItem-container {
        background-color: $white;
        margin: 10px -15px;
        padding: 10px;
    }

  .c-addItem {
      position: relative;
      margin-top: 15px;
  }

  .c-baseItem {
      display: flex;
      flex-direction: row;
      padding: 25px 0;
      border-bottom: 1px solid #ccc;

      .c-baseItem--checkbox,
      .c-baseItem--content,
      .c-baseItem--actions {
          flex: 1 1 auto;
      }

      .c-baseItem--actions {
          text-align: right;
      }
  }
}
